/*====================
=======ELEMENTS=======
======================*/

a{
    text-decoration: none;
    color: hsl(210, 11%, 15%);
}

h1, h2, h3 {
    font-size: 1.2em;
    font-style: italic;
    color: hsl(210, 11%, 15%);
}

h4, h5 {
    font-size: 1em;
    color: hsl(210, 11%, 15%);
}

p {
    text-align: left;
    color: hsl(210, 11%, 15%);
}

img {
    max-width: 100%;
}

/*====================
======STRUCTURE=======
======================*/

body{ 
    background-color: hsl(0, 0%, 100%); 
    color: hsl(210, 11%, 15%);
    display:flex; 
    flex-direction:column;
    font-family: Roboto,"Helvetica Neue",Arial;  
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    min-height: 100vh;
    line-height: 1.5;
    text-align: left;
    width: 100%;
}

header{
    height: 19vh;
    margin: 0;
    width: 100%;
}

main{
    margin: 0;
    width: 100%;
}

footer{
    background-color: hsl(0, 100%, 40%);
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
}

/*====================
======HEADER==========
======================*/

.nav-top-container{
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    height: 14vh;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-top-shortcuts{
    background-color: hsl(0, 0%, 90%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.nav-top-2col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vh;
    width: 90%;
}

.nav-top-today{
    margin: 0;
    width: 60%;
    height: 3vh;

}

.nav-top-news-list{
    margin: 0;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    gap: 0.5em;
}

.nav-top-news-list-start p{
    color: hsl(0, 100%, 40%);
}

.nav-top-news-list-item p{
    color: hsl(0, 0%, 25%);
}

.nav-top-islands{
    margin: 0;
    display: flex;
    justify-content: end;
    width: 40%;
    height: 3vh;
}

.nav-top-islands-list{
    margin: 0;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1em;
}

.nav-top-islands-list-item{
    color: hsl(0, 0%, 67%);
    font-weight: bold;
}

.nav-top-fixed{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    background-color: hsl(0, 100%, 40%);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-top-fixed-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 11vh;
    margin-left: 5%;
    width: 90%;
}

.hamburguer-container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hamburguer {
    fill: white;
    width: 40px;
    height: 40px;
}

.hamburguer-menu{
    display: none;
}

.brand{
    margin-left: 10%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.brand svg{
    fill: hsl(0, 0%, 100%);
    width: 25em;
    height: 6vh;
}

.nav-top-buttoms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 10vh;
}

.nav-top-inline{
    color: hsl(210, 11%, 15%);
    background-color: hsl(210, 16%, 85%);
    border-radius: 0.5em;
    height: 2em;
    padding: 0.5em;
}

.nav-top-inline a{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.nav-top-inline svg{
    width: 2em;
    height: 2em;
}

.nav-top-subscribe{
    background-color: hsl(47, 100%, 50%);
    border-radius: 0.5em;
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    font-weight: bold;
    padding: 0.5em;
    height: 2em;
}

.nav-top-subscribe a{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nav-top-fixed-scroller{
    background-color: hsl(0, 0%, 73%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1vh;
}

.nav-top-fixed-scroller-progress{
    height: 1vh;
}

.nav-bottom{
    border-bottom: solid 2px hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 90%);
    height: 3.5vh;
    width: 100%;
}

.nav-bottom-container{
    width: 90%;
    height: 3.5vh;
    margin-left: 5%;
}

.nav-bottom-menu{
    margin: 0;
    height: 3.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom-menu-home {
    width: 1.5em;
    height: 1.5em;
    fill: hsl(0, 0%, 10%);
}

.nav-bottom-menu-item{
    color: hsl(0, 0%, 10%);
    font-weight: 700;
    font-size: 0.9rem;
    font-family: "Roboto Condensed";
    text-align: center;
}

.nav-bottom-menu-search {
    width: 1.0em;
    height: 1.0em;
    fill: hsl(0, 0%, 10%);
}

/*====================
======MAIN============
======================*/

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.top-banner{
    margin-bottom: 0.5em;
    width: auto;
}

.desktop-featured-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0em;
    margin-bottom: 1em;
}

.news-image{
    z-index: 1000;
    margin: 0em;
}

.news-featured-title{
    text-align: center;
    z-index: 1005;
    background-color: hsl(0, 100%, 40%);
    width: 20em;
    position: relative;
    bottom: 1.5em;
}

.news-featured-title h2{
    color: hsl(0, 0%, 100%);
}

.news-title{
    text-align: left;
}

.news-description{
    color: hsl(0, 0%, 10%);
    text-align: left;
}

.news-author{
    text-align: left;
}

.desktop-4-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.desktop-1-col{
    width: 22.5%;
}

.desktop-news{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}

.news-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.desktop-3news-banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 1em;
}

.desktop-3news-block{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desktop-3-col-news{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.aside-banner{
    width: 25%;
}

.banner{
    position: sticky;
    top: 0;
    width: 100%;
}

/*====================
======FOOTER==========
======================*/

.footer-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
}

/*====================
======MOBILE==========
======================*/

@media (max-width:479px) {

    h1, h2, h3 {
        font-size: 1.2em;
        font-style: italic;
    }

    h4, h5, p {
        font-size: 0.9em;
    }

    header{
        justify-content: start;
        width: 100%;
        height: 14vh;
        margin-bottom: 0.5em;
    }

    .nav-bottom{
        display: none;
    }

    .nav-top-today{
        margin: 0;
        width: 0;
        height: 3vh;
        display: none;
    }

    .nav-top-islands{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .brand svg{
        fill: hsl(0, 0%, 100%);
        width: 15em;
        height: 6vh;
    }

    .brand{
        margin-left: 0;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav-top-inline p{
        display: none;
    }

    .nav-top-subscribe p{

    }

    .nav-top-buttoms{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        height: 10vh;
    }

    .top-banner img{
        height: 15vh;
    }

    .desktop-featured-news, .desktop-news{
        border-top: solid;
        padding-top: 1em;
        gap: 0.2em;
    }

    .desktop-4-col {
        display:flex;
        flex-direction: column;
    }

    .desktop-1-col {
        margin-bottom: 0.5em;
        width: auto;
    }

    .news-image {
        text-align: center;
    }

    .desktop-3news-banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .aside-banner{
        width: 100%;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .banner {
        width: 100%;
        border-color: hsl(0, 100%, 40%);
        border-top-style: solid;
    }

    .banner img {
        padding: 0.5em;
    }

    .desktop-3news-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .desktop-3-col-news{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}